@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-moz-keyframes spin { /* Firefox */
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin { /* Safari and Chrome */
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

@-o-keyframes spin { /* Opera */
  from { -o-transform: rotate(0deg); }
  to { -o-transform: rotate(360deg); }
}

.mw-harlem_shake_me {
  transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -webkit-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;

  animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  -ms-animation: spin 1s infinite linear;
}
